<div class="wrapper d-flex flex-column align-items-center">

  <h1 class="my-5 font-weight-bold">You Want to Make Trash Talk To Who?</h1>

  <div>
    <form method="POST" action="/">

      <div id="options" class="d-flex justify-content-center align-items-center mb-5">

        <div class="form-group d-flex flex-column align-items-center" style="margin-right:1.7rem;">
          <img class="mb-3" src="https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/5668/angry-developer.jpg"
            alt="engineer" style="width: 20vw; height: 20vw; border-radius: 50%">
          <div class="form-check form-check-inline d-flex justify-content-center" style="width: 10vw; height:2vw;">
            <input class="form-check-input" style="width:1.5rem; height:1.3rem;" type="radio" name="target"
              id="engineer" value="engineer">
            <label class="form-check-label text-success font-weight-bold" for="engineer"
              style="font-size:1.5rem;">Engineer</label>
          </div>
        </div>

        <div class="form-group d-flex flex-column align-items-center" style="margin-right:1.7rem;">
          <img class="mb-3" src="https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/5667/angry-designer.jpg"
            alt="engineer" style="width: 20vw; height: 20vw; border-radius: 50%">
          <div class="form-check form-check-inline d-flex justify-content-center" style="width: 10vw; height:2vw;">
            <input class="form-check-input" style="width:1.5rem; height:1.3rem;" type="radio" name="target"
              id="designer" value="designer">
            <label class="form-check-label text-success font-weight-bold" for="designer"
              style="font-size:1.5rem;">Designer</label>
          </div>
        </div>

        <div class="form-group d-flex flex-column align-items-center">
          <img class="mb-3" src="https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/5669/angry-founder.jpg"
            alt="engineer" style="width: 20vw; height: 20vw; border-radius: 50%">
          <div class="form-check form-check-inline d-flex justify-content-center" style="width: 10vw; height:2vw;">
            <input class="form-check-input" style="width:1.5rem; height:1.3rem;" type="radio" name="target"
              id="entrepreneur" value="entrepreneur">
            <label class="form-check-label text-success font-weight-bold" for="entrepreneur"
              style="font-size:1.5rem;">Entrepreneur</label>
          </div>
        </div>

      </div>

      <div id="form-footer" class="d-flex justify-content-center">
        <div id="button" style="margin: 0 2rem 0 1rem;">
          <button class="btn btn-success" type="submit" style="">Generate Trash Talk</button>
        </div>

        <div id="textarea" style="margin-left: 0;">
          <textarea name="trashTalk" id="trashTalk" cols="90" rows="7"></textarea>
        </div>
      </div>

    </form>
  </div>



</div>